.main_login_layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_login_layout div {
    width: 50%;
    height: 100%;
}